@use "../../../../sass/Utilities/" as *;

.chatbot__feedback {
    position: relative;
    .chatbot__feedbackHeader {
        padding: $base-padding 0;
        // background-color: red;
        @include flexBoxRow(space-between, center, 0px);


        .chatbot__title {
            display: flex;
            align-items: center;
            gap: 0.8rem;
        }
    }

    .loading{
        position: absolute;
        // @include fullSize;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .chatbot__feedbackTableWrap {
        overflow-y: auto;
        height: 300px;
      
        thead th{
            position: sticky;
            top: 0; 
        }

        .chatbot__feedbackTable {
            @include tableHeadingWhite;
            border-collapse: collapse;
           
        }
    }

   
}
