@font-face {
  font-family: "Libre Franklin";
  src: url("../../fonts/LibreFranklin-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../../fonts/LibreFranklin-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../../fonts/LibreFranklin-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../../fonts/LibreFranklin-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../../fonts/LibreFranklin-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../../fonts/LibreFranklin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url("../../fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #f5f6f2;
  padding: 1.75rem 0;
}
.form-wrapper .form-title {
  font-family: "Libre Baskerville";
  font-size: 1.5rem;
  font-weight: 700;
  color: #218380;
  margin: 1.25rem 0;
}
.form-wrapper .form {
  color: #218380;
  display: flex;
  flex-wrap: wrap;
}
.form-wrapper .form form {
  background: #ffffff;
  padding: 1rem;
  box-shadow: 0px 10px 20px -18px rgba(29, 53, 87, 0.11);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  min-height: 70vh;
  width: 100%;
  overflow: hidden;
  font-family: "Libre Franklin";
}
.header .header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 99;
}
.header .header-title h1 {
  color: #F2FCEE;
  font-size: 3.5rem;
}

.two-sections-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  gap: 10%;
  padding: 50px;
}
.two-sections-container .image-wrapper {
  width: 30%;
  height: 80%;
  max-width: 40%;
}
.two-sections-container img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
}
.two-sections-container .content-wrapper {
  width: 40%;
}
.two-sections-container .content-wrapper h1 {
  color: #218380;
  font-family: "Libre Franklin";
  margin: 1.25rem 0;
}
.two-sections-container .content-wrapper p {
  color: #232422;
  font-family: "Libre Baskerville";
  font-size: 1rem;
}

.btn {
  display: inline-block;
  position: relative;
  background-color: transparent;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  color: #218380;
  border: 2px solid #218380;
  z-index: 999;
  color: #218380;
  overflow: hidden;
  transition: all 0.3s;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #218380;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1111;
}
.btn:hover {
  color: #F2FCEE;
}
.btn:hover::before {
  transform: translateX(0);
}

.text-input {
  font-family: "Libre Franklin";
  margin: 0.75rem;
  font-size: 0.75rem;
  color: #232422;
  width: 500px;
}
.text-input .label {
  margin: 1.25rem 0;
}
.text-input .input {
  margin: 0.75rem 0;
  width: 100%;
  padding: 0.5rem;
  min-height: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  line-height: 1.25rem;
  background-color: #F2FCEE;
}
.text-input .input:focus {
  border-bottom: 2px solid #218380;
  border-radius: 4px 4px 2px 2px;
}
.text-input .input:hover {
  outline: 0.75px solid #b4b9ae;
}

.text-area {
  font-family: "Libre Franklin";
  margin: 0.75rem;
  width: 500px;
  font-size: 0.75rem;
}
.text-area label {
  margin: 1.25rem 0;
}
.text-area .text-area-input {
  margin: 0.75rem 0;
  width: 100%;
  resize: none;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  line-height: 1.25rem;
  background-color: #F2FCEE;
}
.text-area .text-area-input:focus {
  border-bottom: 2px solid #218380;
  border-radius: 4px 4px 2px 2px;
}
.text-area .text-area-input:hover {
  outline: 0.75px solid #b4b9ae;
}

.home {
  z-index: -999999999;
}
.home .home-header-wrapper {
  position: relative;
}
.home .home-header-wrapper .home-header {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 100vw;
  filter: brightness(0.5);
}
.home .home-header-wrapper .home-title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home .home-header-wrapper .home-title-wrapper .home-title {
  padding: 0px;
  margin: 0px;
  color: white;
}
.home .home-header-wrapper .home-title-wrapper .home-title h1 {
  font-family: "Libre Franklin";
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}
.home .home-header-wrapper .home-title-wrapper .home-title p {
  font-family: "Libre Baskerville";
  font-size: 1.5rem;
  font-weight: 200;
}
.home .home-header-wrapper .home-title-wrapper .home-cta {
  margin-top: 2rem;
  background-color: #D81159;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
}
.home .home-header-wrapper .home-title-wrapper .home-cta .cta {
  color: aliceblue;
  text-decoration: none;
  font-family: "Libre Baskerville";
  font-weight: normal;
  font-size: 0.75rem;
}

.about .header {
  position: relative;
  min-height: 70vh;
  width: 100%;
  overflow: hidden;
  font-family: "Libre Franklin";
}
.about .header .header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .header .header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 99;
}
.about .header .header-title h1 {
  color: #F2FCEE;
  font-size: 3.5rem;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #73D2DE;
}
.auth h1 {
  font-size: 20px;
  color: #F2FCEE;
  margin-bottom: 20px;
  font-family: "Libre Franklin";
  font-size: 1.5rem;
}
.auth form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #f5f6f2;
  width: 200;
  gap: 20px;
  border-radius: 15px;
}
.auth form input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
  font-family: "Libre Baskerville";
  font-size: 0.75rem;
}
.auth form button {
  padding: 10px;
  border: none;
  background-color: #D81159;
  color: white;
  cursor: pointer;
  font-family: "Libre Baskerville";
  font-size: 0.75rem;
}
.auth form p {
  font-size: 0.8rem;
  color: red;
  text-align: center;
  font-family: "Libre Franklin";
}
.auth form span {
  font-size: 12px;
  text-align: center;
  font-family: "Libre Baskerville";
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999999;
  padding: 10px 50px;
  background-color: transparent;
}
.navbar.scrolled {
  transition: all 0.3s;
  background-color: #218380;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .container h6 {
  font-size: 0.75rem;
  font-weight: 300;
  font-family: "Libre Franklin";
  text-decoration: none;
  text-transform: uppercase;
  color: #F2FCEE;
}
.navbar .container .logo img {
  width: 80px;
}
.navbar .container .submenu {
  text-decoration: none;
}
.navbar .container .submenu h2 {
  padding: 0.5rem;
  color: #232422;
  font-family: "Libre Franklin";
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar .container .main-link {
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.navbar .container .main-link .dropdown {
  position: relative;
}
.navbar .container .main-link .dropdown.clicked {
  display: none;
}
.navbar .container .main-link .dropdown-menu {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 9999;
  display: none;
  min-width: 200px;
  background-color: #f5f6f2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-decoration: none;
  list-style: none;
  transition: 0.3s ease-in-out;
}
.navbar .container .user-link {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 200px;
}
.navbar .container .user-link span {
  color: #F2FCEE;
  cursor: pointer;
  font-family: "Libre Franklin";
}

footer {
  margin-top: 5rem;
  padding: 10px 50px;
  background-color: #F2FCEE;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
}
footer img {
  height: 50px;
}
footer span {
  font-family: "Libre Baskerville";
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input, textarea {
  font: inherit;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f5f6f2;
}

.app {
  display: flex;
  justify-content: center;
}
.app .container {
  width: 100%;
}
.app .container .link {
  font-family: "Libre Franklin";
  text-decoration: none;
  color: #F2FCEE;
  cursor: pointer;
}
.app .container .posts .post-items {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding: 20px 200px;
}
.app .container .posts .post {
  display: flex;
  gap: 100px;
}
.app .container .posts .post:nth-child(2n+1) {
  flex-direction: row-reverse;
}
.app .container .posts .post .img {
  flex: 1;
  position: relative;
}
.app .container .posts .post .img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #b9e7e7;
  position: absolute;
  top: 20px;
  left: -20px;
  z-index: -1;
}
.app .container .posts .post .img img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.app .container .posts .post .content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app .container .posts .post .content a {
  text-decoration: none;
}
.app .container .posts .post .content h1 {
  font-family: "Libre Franklin";
  font-size: 2rem;
  color: black;
}
.app .container .posts .post .content p {
  font-size: 0.75rem;
  font-family: "Libre Baskerville";
}
.app .container .posts .post .content button {
  width: -moz-max-content;
  width: max-content;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid teal;
  color: teal;
  font-family: "Libre Baskerville";
  transition: 0.1s ease-in-out;
}
.app .container .posts .post .content button:hover {
  border: 1px solid white;
  background-color: #b9e7e7;
  color: black;
}
.app .container .single {
  display: flex;
  gap: 50px;
  padding: 10px 20% 10px 20%;
}
.app .container .single .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 5;
}
.app .container .single .content img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.app .container .single .content .user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.75rem;
  font-family: "Libre Baskerville";
}
.app .container .single .content .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.app .container .single .content .user span {
  font-weight: bold;
  font-family: font-libre-franklin;
  font-weight: 600;
  font-size: 0.75rem;
}
.app .container .single .content .user p {
  font-family: "Libre Baskerville";
  font-size: 0.8rem;
  color: grey;
}
.app .container .single .content .edit {
  display: flex;
  gap: 5px;
}
.app .container .single .content .edit button {
  border-radius: 50%;
  border: none;
}
.app .container .single .content .edit .icon {
  background-color: teal;
  padding: 8px;
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.app .container .single .content .edit .icon-delete:hover {
  background-color: rgb(245, 18, 18);
}
.app .container .single .content .edit .icon-edit:hover {
  background-color: rgb(12, 71, 199);
}
.app .container .single .content h1 {
  font-size: 2rem;
  font-family: "Libre Franklin";
  color: #333;
}
.app .container .single .content p {
  font-family: "Libre Baskerville";
  text-align: justify;
  line-height: 30px;
}
.app .container .single .menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.app .container .single .menu h1 {
  font-size: 1.5rem;
  color: #555;
  font-family: "Libre Franklin";
}
.app .container .single .menu .post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.app .container .single .menu .post img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.app .container .single .menu .post h2 {
  color: #555;
  font-family: "Libre Franklin";
  font-weight: 700;
  font-size: 1.5rem;
}
.app .container .single .menu .post button {
  width: -moz-max-content;
  width: max-content;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid teal;
  color: teal;
  font-family: "Libre Baskerville";
  transition: 0.1s ease-in-out;
}
.app .container .single .menu .post button:hover {
  border: 1px solid white;
  background-color: #b9e7e7;
  color: black;
}
.app .container .add {
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-items: flex-start;
}
.app .container .add .content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #555;
}
.app .container .add .content h2 {
  font-size: 2rem;
  font-family: "Libre Franklin";
}
.app .container .add .content input {
  padding: 10px;
  border: 1px solid lightgray;
}
.app .container .add .content .editorContainer {
  height: 300px;
  overflow: scroll;
  border: 1px solid lightgray;
}
.app .container .add .content .editorContainer .editor {
  height: 100%;
  border: none;
}
.app .container .add .menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app .container .add .menu .item {
  border: 1px solid lightgray;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
  font-family: "Libre Franklin";
  color: #555;
}
.app .container .add .menu .item h1 {
  font-size: 2rem;
  font-family: "Libre Franklin";
}
.app .container .add .menu .item span {
  margin: 3px 0;
}
.app .container .add .menu .item .file {
  margin: 5px 0;
  text-decoration: underline;
  cursor: pointer;
}
.app .container .add .menu .item .file:hover {
  color: rgb(240, 29, 29);
}
.app .container .add .menu .item .buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}
.app .container .add .menu .item .buttons :first-child {
  cursor: pointer;
  color: white;
  background-color: teal;
  border: 1px solid teal;
  padding: 3px 5px;
}
.app .container .add .menu .item .buttons :last-child {
  cursor: pointer;
  color: teal;
  background-color: white;
  border: 1px solid teal;
  padding: 3px 5px;
}
.app .container .dashboard-layout {
  display: flex;
  height: 100vh;
}
.app .container .dashboard-layout .content-container {
  flex: 1;
  padding: 40px 20px;
  overflow-y: auto;
}
.app .container .dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.app .container .sidebar {
  height: 100%;
  background-color: #333;
  width: 200px;
  flex-shrink: 0;
}
.app .container .sidebar .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.app .container .sidebar .container .top-section {
  padding: 30px;
}
.app .container .sidebar .container .top-section span {
  font-size: 1.5rem;
  font-family: "Libre Franklin";
  color: #b9e7e7;
}
.app .container .sidebar .container .mid-section {
  width: 100%;
}
.app .container .sidebar .container .mid-section .sidebar-item {
  color: #b9e7e7;
  font-family: "Libre Franklin";
  display: block;
  padding: 1em;
  align-items: center;
}
.app .container .sidebar .container .mid-section .sidebar-item:hover {
  background-color: rgba(185, 231, 231, 0.1725490196);
}
.app .container .sidebar .container .mid-section .sidebar-title {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
  color: #b9e7e7;
}
.app .container .sidebar .container .mid-section .sidebar-title .sidebar-icon {
  padding-right: 5px;
  display: inline-block;
}
.app .container .sidebar .container .mid-section .sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.app .container .sidebar .container .mid-section .sidebar-item.open .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.app .container .sidebar .container .mid-section .sidebar-item.open .sidebar-content {
  height: 0;
  overflow: hidden;
  transition: transform 1s ease-out;
  width: 100%;
}
.app .container .sidebar .container .mid-section .sidebar-item.open .sidebar-content.open {
  height: auto;
}
.app .container .sidebar .container .mid-section .sidebar-item .plain {
  text-decoration: none;
  display: inline-block;
  color: #b9e7e7;
  font-family: "Libre Franklin";
}
.app .container .sidebar .container .bottom-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}
.app .container .sidebar .container .bottom-section .side-links {
  width: 100;
  display: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Libre Franklin";
  padding: 20px;
}
.app .container .sidebar .container .bottom-section span {
  width: 100%;
  cursor: pointer;
  color: #b9e7e7;
  background-color: rgb(245, 18, 18);
}/*# sourceMappingURL=style.css.map */