//Utilities
@use "./sass/Utilities/" as *;

//Components
@use "./sass/components/_Form.scss";
@use "./sass/components/Header.scss";
@use "./sass/components/Pages.scss";
@use "./sass/components/twoSections.scss";
@use "./sass/components/Card.scss";
@use "./sass/components/Buttons.scss";
@use "./sass/components/Inputs.scss";

//Pages
@use "./sass/Pages/_Homepage.scss";
@use "./sass/Pages/_About.scss";
@use "./sass/Pages/Authentication.scss";

//Commmon Components
@use "./sass/common/Navbar.scss";
@use "./sass/common/Footer.scss";

//colors
$lightGreen: #b9e7e7;

$nav-footer: 10px 50px;
$standard-padding: 10px 20% 10px 20%;

*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

input, textarea {
    font: inherit;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: $lightColor;
}

.app {
    display: flex;
    justify-content: center;

    .container {
        //Login
        width: 100%;

        //register
        .link {
            font-family: $font-libre-franklin;
            text-decoration: none;
            color: $honeyDew;
            cursor: pointer;
        }

    

        //This is for the posts
        .posts {
            .post-items {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;
                padding: 20px 200px;
            }

            .post {
                display: flex;
                gap: 100px;

                &:nth-child(2n + 1) {
                    flex-direction: row-reverse;
                }

                .img {
                    flex: 1;
                    position: relative;

                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: $lightGreen;
                        position: absolute;
                        top: 20px;
                        left: -20px;
                        z-index: -1;
                    }

                    img {
                        width: 100%;
                        max-height: 400px;
                        object-fit: cover;
                    }
                }

                .content {
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    a {
                        text-decoration: none;
                    }
                    h1 {
                        font-family: $font-libre-franklin;
                        font-size: $heading;
                        color: black;
                    }

                    p {
                        font-size: $content;
                        font-family: $font-libre-baskerville;
                    }

                    button {
                        width: max-content;
                        border: none;
                        cursor: pointer;
                        padding: 10px 20px;
                        background-color: white;
                        border: 1px solid teal;
                        color: teal;
                        font-family: $font-libre-baskerville;
                        transition: 0.1s ease-in-out;

                        &:hover {
                            border: 1px solid white;
                            background-color: $lightGreen;
                            color: black;
                        }
                    }
                }
            }
        }

        //SINGLE PAGE
        .single {
            display: flex;
            gap: 50px;
            padding: $standard-padding;

            .content {
                display: flex;
                flex-direction: column;
                gap: 30px;
                flex: 5;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: $content;
                    font-family: $font-libre-baskerville;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-weight: bold;
                        font-family: font-libre-franklin;
                        font-weight: $w-semi-bold;
                        font-size: $content;
                    }

                    p {
                        font-family: $font-libre-baskerville;
                        font-size: $mini;
                        color: grey;
                    }
                }

                .edit {
                    display: flex;
                    gap: 5px;

                    button {
                        border-radius: 50%;
                        border: none;
                    }
                    .icon {
                        background-color: teal;
                        padding: 8px;
                        border-radius: 50%;
                        color: white;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        transition: 0.1s ease-in-out;
                    }

                    .icon-delete:hover {
                        background-color: rgb(245, 18, 18);
                    }
                    .icon-edit:hover {
                        background-color: rgb(12, 71, 199);
                    }
                }

                h1 {
                    font-size: $heading;
                    font-family: $font-libre-franklin;
                    color: #333;
                }

                p {
                    font-family: $font-libre-baskerville;
                    text-align: justify;
                    line-height: 30px;
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1 {
                    font-size: $subheading;
                    color: #555;
                    font-family: $font-libre-franklin;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h2 {
                        color: #555;
                        font-family: $font-libre-franklin;
                        font-weight: $w-bold;
                        font-size: $subheading;
                    }

                    button {
                        width: max-content;
                        border: none;
                        cursor: pointer;
                        padding: 10px 20px;
                        background-color: white;
                        border: 1px solid teal;
                        color: teal;
                        font-family: $font-libre-baskerville;
                        transition: 0.1s ease-in-out;

                        &:hover {
                            border: 1px solid white;
                            background-color: $lightGreen;
                            color: black;
                        }
                    }
                }
            }
        }

        //WRITING PAGE
        .add {
            width: 100%;
            height: 100vh;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            align-items: flex-start;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;
                color: #555;
                h2 {
                    font-size: $heading;
                    font-family: $font-libre-franklin;
                }

                input {
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorContainer {
                    height: 300px;
                    overflow: scroll;
                    border: 1px solid lightgray;

                    .editor {
                        height: 100%;
                        border: none;
                    }
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item {
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: $mini;
                    font-family: $font-libre-franklin;
                    color: #555;

                    h1 {
                        font-size: $heading;
                        font-family: $font-libre-franklin;
                    }

                    span {
                        margin: 3px 0;
                    }

                    .file {
                        margin: 5px 0;
                        text-decoration: underline;
                        cursor: pointer;

                        &:hover {
                            color: rgb(240, 29, 29);
                        }
                    }

                    .buttons {
                        display: flex;
                        justify-content: flex-start;
                        gap: 10px;
                        margin-top: 20px;

                        :first-child {
                            cursor: pointer;
                            color: white;
                            background-color: teal;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }

                        :last-child {
                            cursor: pointer;
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }
                    }
                }
            }
        }

        //Dashboard
        .dashboard-layout {
            display: flex;
            height: 100vh;

            .content-container {
                flex: 1;
                padding: 40px 20px;
                overflow-y: auto;
            }
        }

        .dashboard {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .sidebar {
            height: 100%;
            background-color: #333;
            width: 200px;
            flex-shrink: 0;

            .container {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100vh;

                .top-section {
                    padding: 30px;
                    span {
                        font-size: $subheading;
                        font-family: $font-libre-franklin;
                        color: $lightGreen;
                    }
                }

                .mid-section {
                    width: 100%;

                    .sidebar-item {
                        color: $lightGreen;
                        font-family: $font-libre-franklin;
                        display: block;
                        padding: 1em;
                        align-items: center;

                        &:hover {
                            background-color: #b9e7e72c;
                        }
                    }

                    .sidebar-title {
                        display: flex;
                        justify-content: space-between;
                        font-size: $large;
                        cursor: pointer;
                        color: $lightGreen;

                        .sidebar-icon {
                            padding-right: 5px;
                            display: inline-block;
                        }

                        .toggle-btn {
                            cursor: pointer;
                            transition: transform 0.3s;
                        }
                    }

                    .sidebar-item.open {
                        .sidebar-title .toggle-btn {
                            transform: rotate(180deg);
                        }

                        .sidebar-content {
                            height: 0;
                            overflow: hidden;
                            transition: transform 1s ease-out;
                            width: 100%;

                            &.open {
                                height: auto;
                            }
                        }
                    }
                    .sidebar-item {
                        .plain {
                            text-decoration: none;
                            display: inline-block;
                            color: $lightGreen;
                            font-family: $font-libre-franklin;
                        }
                    }
                }

                .bottom-section {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-self: flex-end;

                    .side-links {
                        width: 100;
                        display: 20px;
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        font-family: $font-libre-franklin;
                        padding: 20px;
                    }
                    span {
                        width: 100%;
                        cursor: pointer;
                        color: $lightGreen;
                        background-color: rgb(245, 18, 18);
                    }
                }
            }
        }
    }
}
