@import './fonts/fonts.scss';

$lightGreen: #b9e7e7;
$nav-footer: 30px 50px;

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

.app{
    display: flex;
    justify-content: center;


    .container{
        
        //Login
        width: 100%;

        .home{
            display: flex;
            align-items: center;
            justify-content: center;

        }


        //register
        .link{
            font-family: $font-libre-franklin;
            text-decoration: none;
            color: inherit;
        }
        .auth{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
            width: 100%;
            background-color: $lightGreen;

            h1{
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
                font-family: $font-libre-franklin;
                font-size: $subheading;


            }

            form {
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 200;
                gap: 20px;

                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                    font-family: $font-libre-baskerville;
                    font-size: $content;
                }

                button{
                    padding: 10px;
                    border: none;
                    background-color: teal;
                    color: white;
                    cursor: pointer;
                    font-family: $font-libre-baskerville;
                    font-size: $content;
                }

                p{
                    font-size: $mini;
                    color: red;
                    text-align: center;
                    font-family: $font-libre-franklin;
                }

                span{
                    font-size: 12px;
                    text-align: center;
                    font-family: $font-libre-baskerville;
                }
                
            }
        }


        //This is for the navbar
        .navbar{
           display: flex;
           justify-content: space-between;
           padding: $nav-footer;


            .container{
                
                
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                
                .logo{
                    img{

                        width: 120px;
                    }
                }


                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;


                    h6{
                        font-size: $content;
                        font-weight: 300;
                        font-family: $font-libre-franklin;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #333;
                    }


                    span{
                        cursor: pointer;
                        font-family: $font-libre-baskerville;
                    }

                    .write{
                        background-color: $lightGreen;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;
                        transition: 0.2s ease-in;

                        &:hover{
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                        }

                    }
                }
            }
        }

        //Footer

        footer{
            margin-top: 5rem;
            padding: $nav-footer;
            background-color: $lightGreen;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;

            img{
                height: 50px;

            }

            span{
                font-family: $font-libre-baskerville;
            }
        }

        //This is for the homepage
        .home{

            .posts{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;
            }

            .post{
                display: flex;
                gap: 100px;
                
 
                &:nth-child(2n+1){
                    flex-direction: row-reverse;
                }

                .img{
                    flex: 1;
                    position: relative;

                    &::after{
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: $lightGreen;
                        position: absolute;
                        top: 20px;
                        left: -20px;
                        z-index: -1;
                    }

                    img{
                        width: 100%;
                        max-height: 400px;
                        object-fit: cover;
                    }
                }

                .content{
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    a{
                        text-decoration: none;
                    }
                    h1{
                       
                        font-family: $font-libre-franklin;
                        font-size: $heading;
                        color: black;
                    }
                    
                    p{
                        font-size: $content;
                        font-family: $font-libre-baskerville;
                    }

                    button{
                        width: max-content;
                        border: none;
                        cursor: pointer;
                        padding: 10px 20px;
                        background-color: white;
                        border: 1px solid teal;
                        color:teal;
                        font-family: $font-libre-baskerville;
                        transition: 0.1s ease-in-out;

                        &:hover{
                            border: 1px solid white;
                            background-color: $lightGreen;
                            color: black;
                        }
                    }

                }
            }


        }

        //SINGLE PAGE
        .single{
            display: flex;
            gap: 50px;

            .content{
                display: flex;
                flex-direction: column;
                gap: 30px;
                flex: 5;

                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: $content;
                    font-family: $font-libre-baskerville;

                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span{
                        font-weight: bold;
                        font-family: $font-libre-franklin;
                        font-weight: $w-semi-bold;
                        font-size: $content;
                    }

                    p{
                        font-family: $font-libre-baskerville;
                        font-size: $mini;
                        color: grey;
                    }
                }

                .edit{
                    display: flex;
                    gap: 5px;

                    button{
                        border-radius: 50%;
                        border: none;
                    }
                    .icon{
                        background-color: teal;
                        padding: 8px;
                        border-radius: 50%;
                        color: white;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        transition: 0.1s ease-in-out;

                       
                    }
                   

                    .icon-delete:hover{
                        background-color: rgb(245, 18, 18);
                    }
                    .icon-edit:hover{
                        background-color: rgb(12, 71, 199);
                    }
                }

                h1{
                    font-size: $heading;
                    font-family: $font-libre-franklin;
                    color: #333;
                }
                
                    
                p{
                    font-family: $font-libre-baskerville;
                    text-align: justify;
                    line-height: 30px;
                }
            
            }

            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1{
                   font-size: $subheading;
                   color: #555;
                   font-family: $font-libre-franklin; 
                }

                .post{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img{
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h2{
                        color: #555;
                        font-family: $font-libre-franklin;
                        font-weight: $w-bold;
                        font-size: $subheading;
                    }

                    button{
                        width: max-content;
                        border: none;
                        cursor: pointer;
                        padding: 10px 20px;
                        background-color: white;
                        border: 1px solid teal;
                        color:teal;
                        font-family: $font-libre-baskerville;
                        transition: 0.1s ease-in-out;

                        &:hover{
                            border: 1px solid white;
                            background-color: $lightGreen;
                            color: black;
                        }
                    }
                }
                
            }
        }
    
        //WRITING PAGE
        .add{
            margin-top: 20px;
            display: flex;
            gap: 20px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input{
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorContainer{
                    height: 300px;
                    overflow: scroll;
                    border: 1px solid  lightgray;

                    .editor{
                        height: 100%;
                        border: none;

                    }
                }
            }

            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item{
                    border: 1px solid  lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: $mini;
                    font-family: $font-libre-franklin;
                    color: #555;


                    h1{     
                        font-size: $heading;
                        font-family: $font-libre-franklin;
                    }

                    span{
                        margin: 3px 0;
                    }

                    .file{
                        margin: 5px 0;
                        text-decoration: underline;
                        cursor: pointer;

                        &:hover{
                            color: rgb(240, 29, 29);
                        }
                    }

                    .buttons{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 20px;

                        :first-child{
                            cursor: pointer;
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }
                        
                        :last-child{
                            cursor: pointer;
                            color: white;
                            background-color: teal;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }
                    }

                    
                    

                }
            }
        }

    

    }
}