//Utilities
@use "./sass/Utilities/" as *;

//Components
@use "./sass/components/SearchBar.scss";
@use "./sass/components/Modal.scss";
@use "./sass/components/Facilities.scss";
@use "./sass/components/_Form.scss";
@use "./sass/components/Header.scss";
@use "./sass/components/Pages.scss";
@use "./sass/components/TwoSections.scss";
@use "./sass/components/Card.scss";
@use "./sass/components/Buttons.scss";
@use "./sass/components/Inputs.scss";
@use "./sass/components/Sharebutton.scss";
@use "./sass/components/Table.scss";
@use "./sass/components/UploadImageBlock.scss";
@use "./sass/components/SideMenu.scss";
@use "./sass/components/InlineError.scss";
@use "./sass/components/Gallery.scss";
@use "./sass/components/Amenities.scss";
@use "./sass/components/Chatbot.scss";
@use './Components/PostComponents/postHeading.scss';
@use './sass/components/RatingsComponent.scss';
@use './sass/components/RecentPosts.scss';


//Pages
@use "./sass/Pages/_Homepage.scss";
@use "./sass/Pages/_About.scss";
@use "./sass/Pages/Authentication.scss";
@use "./sass/Pages/Contact.scss";
@use "./sass/Pages/Accommodation.scss";
@use "./sass/Pages/Singlepage.scss";
@use "./sass/Pages/MediaGallery.scss";
@use './sass/Pages/DashboardMain.scss';

//Commmon Components
@use "./sass/common/Navbar.scss";
@use "./sass/common/Footer.scss";
@use "./sass/common/Sidebar.scss";

//colors
$lightGreen: #b9e7e7;

$nav-footer: 10px 50px;
$standard-padding: 10px 20% 10px 20%;

:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: $primary-font;
    src: url("./sass/Utilities/fonts/Arima-Regular.woff") format("woff");
}

@font-face {
    font-family: $secondary-font;
    src: url("./sass/Utilities/fonts/Karla-Regular.woff") format("woff");
}

@font-face {
    font-family: $font-libre-baskerville;
    src: url("./sass/Utilities/fonts/Libre_Baskerville/librebaskerville-regular-webfont.woff2") format("woff2"),
        url("./sass/Utilities/fonts/Libre_Baskerville/librebaskerville-regular-webfont.woff") format("woff");
    font-weight: $w-normal;
    font-style: $style-normal;
}

@font-face {
    font-family: "Quicksand-Medium";
    src: url("./sass/Utilities/fonts/Quicksand-Medium.woff2") format("woff2"),
        url("./sass/Utilities/fonts/Quicksand-Medium.woff") format("woff");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Britney-Regular";
    src: url("./sass/Utilities/fonts/Britney-Regular.woff2") format("woff2"),
        url("./sass/Utilities/fonts/Britney-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: $font-libre-franklin;
    src: url("./sass/Utilities//fonts/LibreFranklin-Bold.ttf") format("truetype");
    font-weight: $w-bold;
    font-style: $style-normal;
}

@font-face {
    font-family: $font-libre-franklin;
    src: url("./sass/Utilities//fonts/LibreFranklin-Semibold.ttf") format("truetype");
    font-weight: $w-semi-bold;
    font-style: $style-normal;
}

@font-face {
    font-family: $font-libre-franklin;
    src: url("./sass/Utilities//fonts/LibreFranklin-Thin.ttf") format("truetype");
    font-weight: $w-thin;
    font-style: $style-normal;
}

@font-face {
    font-family: $font-libre-franklin;
    src: url("./sass/Utilities//fonts/LibreFranklin-ExtraLight.ttf") format("truetype");
    font-weight: $w-extra-light;
    font-style: $style-normal;
}
@font-face {
    font-family: $font-libre-franklin;
    src: url("./sass/Utilities//fonts/LibreFranklin-Light.ttf") format("truetype");
    font-weight: $w-light;
    font-style: $style-normal;
}
@font-face {
    font-family: $font-libre-franklin;
    src: url("./sass/Utilities//fonts/LibreFranklin-Medium.ttf") format("truetype");
    font-weight: $w-mediun;
    font-style: $style-normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
}

input,
textarea {
    font: inherit;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: $lighterGreyColor;
    font-family: $secondary-font;
    // overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
ul,
li {
    list-style: inside;
}
.fixed-container {
    position: fixed;
    offset: 30px;
}

.flex-column-left {
    @include leftFlexboxColumn;
}

.flex-container {
    @include centerFlexboxRow;

    @include devices(mobile) {
        flex-direction: column;
    }
    @include devices(tablet) {
        flex-direction: column-reverse;
    }
}

.container {
    //Login
    width: 100%;
    margin-inline: auto;
}

.hidden {
    display: none;
}
.wrapper {
    width: 100% !important;
    max-width: 1300px !important;
    margin-inline: auto !important;
}

.section-full {
    @include centerFlexboxColumn;
    padding: $large-padding;
}

.sub-heading {
    font-size: $heading;
    font-family: $primary-font;
    color: $primary;
    line-height: $xxlarge-line-height;
}

.centered-heading {
    @include centeredHeading;
    @include centerAndSet(1300px, 2rem);
    h2 {
        font-size: $subheading;
        color: $tertiary;
    }
    h4 {
        margin-bottom: $base-margin;
        font-size: $heading;

        &::after {
            display: block;
            margin: 0 auto;
            content: "";
            width: 40px;
            height: 3px;
            background-color: $tertiary;
        }
    }
    p {
        padding-inline: $xxlarge-padding;
        color: $greyColor;
        font-family: $secondary-font;
    }

    @include devices (tablet) {
        p {
            padding-inline: 0;
            text-align: justify;
            text-indent: 2rem;
        }
        h4{
            font-size: $f-xlarge;
        }
        h2{
            font-size: $f-medium
        }
    }
}

.dark {
    color: $primary;
}

.grid-view {
    @include gridView(20rem, 2rem);
}

.app {
    display: flex;
    justify-content: center;
    height: 100%;

    .buttons {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        margin-top: 20px;

        // :first-child {
        //     cursor: pointer;
        //     color: white;
        //     background-color: teal;
        //     border: 1px solid teal;
        //     padding: 3px 5px;
        // }

        // :last-child {
        //     cursor: pointer;
        //     color: teal;
        //     background-color: white;
        //     border: 1px solid teal;
        //     padding: 3px 5px;
        // }
    }

    //register
    .link {
        font-family: $secondary-font;
        text-decoration: none;
        color: $honeyDew;
        cursor: pointer;
    }

    //This is for the posts
    .posts {
        .post-items {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 150px;
            padding: 20px 200px;
        }

        .post {
            display: flex;
            gap: 100px;

            &:nth-child(2n + 1) {
                flex-direction: row-reverse;
            }

            .img {
                flex: 1;
                position: relative;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: $lightGreen;
                    position: absolute;
                    top: 20px;
                    left: -20px;
                    z-index: -1;
                }

                img {
                    width: 100%;
                    max-height: 400px;
                    object-fit: cover;
                }
            }

            .content {
                flex: 3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                a {
                    text-decoration: none;
                }
                h1 {
                    font-family: $secondary-font;
                    font-size: $heading;
                    color: black;
                }

                p {
                    font-size: $content;
                    font-family: $secondary-font;
                }

                // button {
                //     width: max-content;
                //     border: none;
                //     cursor: pointer;
                //     padding: 10px 20px;
                //     background-color: white;
                //     border: 1px solid teal;
                //     color: teal;
                //     font-family: $secondary-font;
                //     transition: 0.1s ease-in-out;

                //     &:hover {
                //         border: 1px solid white;
                //         background-color: $lightGreen;
                //         color: black;
                //     }
                // }
            }
        }
    }

    //WRITING PAGE
    .add {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: flex-start;
        background-color: $lighterGreyColor;

        .dashboard-header {
            line-height: 80px;
            color: #000;
        }

        .content {
            flex: 5;
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: #555;
            h1 {
                margin: $base-margin-y;
                font-size: $heading;
                color: $primary;
                text-align: center;
            }
            h2 {
                font-size: $subheading;
                font-family: $secondary-font;
            }

            .add-button {
                display: inline;
                align-items: center;

                a {
                    display: flex;
                    color: green;
                    text-decoration: none;
                    gap: 5px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .container {
                margin: $small-margin-y;
            }

            // input {
            //     padding: 10px;
            //     border: 1px solid lightgray;
            //     width: 100%;
            // }

            .editorContainer {
                height: 300px;
                overflow: scroll;
                border: 1px solid lightgray;

                .editor {
                    height: 100%;
                    border: none;
                }
            }
        }

        .page-sections {
            margin: $base-margin-y;
            .page-sections-wrapper {
                display: flex;
                gap: 20px;

                .image-wrapper {
                    img {
                        height: 100%;
                        max-width: 300px;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }
                }

                .description-wrapper {
                    display: flex;
                    flex-direction: column;

                    margin: inherit;
                    gap: 3px;
                    h3 {
                        margin: $base-margin-y;
                    }

                    .editorContainer {
                        margin: auto 0;
                        height: 200px;
                    }
                }
            }
        }
        .menu {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .item {
                .item-container {
                    display: flex;
                    flex-direction: column;
                    margin: $small-margin-y;
                    gap: 0.7rem;
                    .top-row {
                        display: flex;
                        justify-content: space-between;
                        gap: 10px;
                    }

                    .item-input {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            padding: $small-padding-x;
                        }

                        .dropdown-input {
                            position: relative;
                            width: 100%;

                            .select-box {
                                font-family: $secondary-font;
                                width: 100%;

                                padding: $small-padding;
                                border: 1px solid lightgray;
                                color: $greyColor;

                                &:focus {
                                    border-bottom: $base-border-thickness $primaryColor;
                                    border-radius: $input-border-radius;
                                }
                            }
                            .select-box option[disabled][selected] {
                                color: $lightGreyColor;
                                opacity: 0.5;
                            }
                            .custom-arrow {
                                position: absolute;
                                display: block;
                                top: 0;
                                right: 0;
                                height: 100%;
                                width: 2rem;
                                background: $lightGreyColor;
                            }
                        }
                    }
                }

                border: 1px solid lightgray;
                padding: 10px;
                // flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: $mini;
                font-family: $secondary-font;
                color: #555;

                h1 {
                    font-size: $subheading;
                    font-family: $secondary-font;
                }

                span {
                    margin: 3px 0;
                }

                .file {
                    margin: 5px 0;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        color: $lightGreyColor;
                    }
                }
            }
        }
    }

    //Dashboard
   
}
