@use "./../Utilities/" as *;
.group-btn {
    display: flex;
    gap: 1rem;
    padding-top: $base-padding;
}
.btn {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    position: relative;
    background-color: transparent;
    padding: $base-button-size;
    border-radius: $base-border-radius;
    cursor: pointer;
    color: $primaryColor;
    border: $base-border-thickness $primaryColor;
    z-index: 999;
    overflow: hidden;
    transition: all 0.3s;

    &.btn-full {
        width: 100%;
    }
    &.btn-loading {
        display: flex;
        justify-content: center;
        gap: 0.8rem;
        background-color: transparent;
        cursor: pointer;
        background-color: $primary;
        color: $honeyDew;
        border-radius: $base-border-radius;
        padding: $base-button-size;
        background-color: $primary-fade;
        &:before {
            transform: translateX(0);
        }
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        @include fullSize;
        background-color: $primaryColor;
        transform: translateX(-100%);
        transition: all 0.3s;
        z-index: -1111;
    }
    &:hover {
        color: $honeyDew;
    }
    &:hover::before {
        transform: translateX(0);
    }

    &.btn-small {
        padding: $small-button-size;
    }

    &.disabled{
        pointer-events: none;
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.btn-right{
        margin-left: auto;
    }

    &.btn-err {
        border: $base-border-thickness $error;
        color: $error;

        &::before {
            background-color: $error;
        }
        &:hover {
            color: $honeyDew;
        }
    }

    &.btn-success {
        border: $base-border-thickness $success;
        color: $success;

        &::before {
            background-color: $success;
        }
        &:hover {
            color: $honeyDew;
        }
    }
}

.btn_flat{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    position: relative;
    background-color: $primary;
    padding: $base-button-size;
    border-radius: $base-border-radius;
    cursor: pointer;
    color: $honeyDew;
    border: none;
    &:hover{
        background-color: $primary-light;
    }

    &.flat_success {
        background-color: $success;
        color: $honeyDew;

        &:hover{
            background-color: $success-light;
        }
    }

    &.btn-small {
        padding: $small-button-size;
    }

    &.flat_loading {
        cursor: not-allowed;
        pointer-events: none;
    }
}

.btn-2 {
    display: flex;
    gap: 1rem;
    position: relative;
    background-color: transparent;
    padding: $base-button-size;
    // border-radius: $base-border-radius;
    cursor: pointer;
    color: $lightGreyColor;
    // border: $base-border-thickness $lightGreyColor;
    z-index: 999;
    overflow: hidden;
    transition: all 0.3s;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        @include fullSize;
        background-color: $lightGreyColor;
        transform: translateX(-100%);
        transition: all 0.5s;
        z-index: -1111;
    }

    span {
        display: flex;
        padding: 0.2rem;
        // border: $base-border-thickness $lightGreyColor;
        border-radius: $base-border-radius;
    }

    &:hover {
        span {
            color: $primary;
        }
    }
    &:hover::before {
        transform: translateX(0);
    }
}

// .share-buttons{
//     // color: $primary;
//     border: none;
//     &:hover{
//         color: $primary;
//     }
// }
