@use "../Utilities/" as *;

.chatbot-container {
    position: fixed;
    right: 25px;
    margin-left: auto;
    max-width: 25rem;
    bottom: 90px;
    z-index: 9999;

    border-radius: $base-border-radius;
    .chatbot-inbox {
        position: relative;
        font-family: $secondary-font;
        font-size: 0.95rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: $dark-box-shadow;
        height: 700px;
        max-height: 500px;
        background-color: $lighterGreyColor;
        border-radius: $base-border-radius;

        .chatbot-header {
            z-index: 999;
            color: $lighterGreyColor;
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 100%;
            padding: $small-padding $base-padding;
            background-color: $primary;

            .chatbot-title {
                margin-block: auto;
                font-size: $f-large;
            }
        }
        .chatbot-options {
            position: absolute;
            z-index: 999;
            @include cardBase($small-border-radius);
            top: 40px;
            @include boxShadow;
            right: 40px;
            overflow: hidden;
            button {
                color: $greyColor;
                display: flex;
                align-items: center;
                gap: 0.3rem;
                padding: $small-padding;
                font-weight: $w-bold;
                font-family: $secondary;
                background-color: $grey-100;

                width: 100%;
                &:hover {
                    background-color: $grey-200;
                }
            }
        }

        .chatbot-buttons {
            buttons {
                color: $lighterGreyColor;
            }
            // gap: 0.5rem;
            display: flex;
            align-items: center;
        }

        .feedback-form {
            position: absolute;
            width: 100%;
            // height: 30%;
            bottom: 60px;
            z-index: 99;
        }
        .chatbot-input {
            margin-top: auto;
            width: 100%;
            display: flex;
            position: relative;
            background-color: white;

            .text-area {
                padding: 0;

                .text-area-input {
                    background-color: white;
                }
            }
        }

        @include devices(tablet) {
            .chatbot-inbox {
                position: fixed;
                bottom: 0;
                right: 0;
                transition: 3s ease-in-out;
            }
            .chatbot-button {
                position: fixed;
                bottom: 5%;
                right: 5%;
            }
        }
    }
    .chatbot-button {
        background: rgb(3, 51, 91);
        background: linear-gradient(223deg, rgba(3, 51, 91, 1) 0%, rgba(5, 41, 87, 1) 24%, rgba(10, 20, 78, 1) 100%);
        height: 62px;
        width: 62px;
        border-radius: 50%;
        @include centerFlexboxColumn;
        box-shadow: $dark-box-shadow;
        transition: 0.1s ease-in;

        &:hover {
            background-color: $secondary;
            cursor: pointer;
            color: $lighterGreyColor;
            // transform: scale(1.1);
        }
    }

    .feedback-button {
        display: flex;
        gap: 10px;
        background-color: $grey-100;
        position: fixed;
        top: 40%;
        padding: $small-padding $base-padding;
        left: -155px;
        border-radius: 0 $base-border-radius $base-border-radius 0;
        width: fit-content;
        //
        opacity: 0.8;
        transition: 0.2s ease-in;
        &:hover {
            left: 0%;
            background-color: $primary;
            opacity: 1;
            cursor: pointer;
            color: $lighterGreyColor;
        }

        @include devices(tablet) {
            right: -155px;
            z-index: -3;
        }

        @include devices(mobile) {
            right: -175px;
        }
    }
    @include devices(tablet) {
        right: 0;
        bottom: 0;
        width: 100%;
    }
    
}

.send {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: $base-padding;
    background-color: $primary;
    color: $lighterGreyColor;

    &:hover {
        color: $lightGreyColor;
    }

    &.btn-options {
        padding: $small-padding;
    }
}

.chatbot-panel {
    //    position: relative;
    // flex-direction: column;
    @include fullSize;
    overflow-y: auto;
    margin-bottom: auto;
    flex-wrap: wrap;
    max-width: 40rem;
    .message {
        margin-top: $small-margin;
        padding: $small-padding;
        margin-bottom: 10px;
        // width: 300px;
        max-width: 90%;
        padding: $small-padding;
        border-radius: 5px;

        span {
            padding: $base-padding;
            border-radius: $base-border-radius;
        }
        strong {
            font-size: $content;
        }

        .sender {
            background-color: transparent;
        }
    }

    .User {
        flex-direction: row-reverse;
        display: flex;
        align-items: center;
        margin-left: auto;
        // width: 90px;
        span {
            // overflow-wrap: break-word;
            word-break: break-all;
            word-wrap: break-word;
            background-color: $primary;
            color: $grey-100;
        }
    }

    .Bot {
        display: flex;
        align-self: flex-end;

        span {
            background-color: white;
            li {
                list-style: none;
            }
        }
    }
    
}
