@use "./../Utilities/" as *;

.chatbot__feedback {
    @include cardBase($base-border-radius);
    @include boxShadow;
    padding: $base-padding;

    .chatbot__header {
        padding: $base-padding 0;
        // background-color: red;

        .chatbot__title {
            display: flex;
            align-items: center;
            gap: 0.8rem;
        }
    }

    .chatbot__feedbackTable {
        background-color: white;

        tr {
            th {
                background-color: white;
                color: $greyColor;
                border: none;
            }
        }
    }
}
