@use "../Utilities/" as *;

.chatbot-container {
    position: fixed;
    right: 40px;
    margin-left: auto;
    max-width: 25rem;
    bottom: 40px;
    z-index: 9999999999;
    .send {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-left: auto;
    }
    border-radius: $base-border-radius;
    .chatbot-inbox {
        position: relative;
        font-family: $secondary-font;
        font-size: 0.95rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: $dark-box-shadow;
        height: 700px;
        // width: 400px;
        max-height: 500px;
        background-color: $lighterGreyColor;
        border-radius: $base-border-radius;

        .chatbot-header {
            z-index: 999;
            color: $lighterGreyColor;
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 100%;
            padding: $small-padding $base-padding;
            background-color: $primary;
        }
        .chatbot-options{
            position: absolute;
            z-index: 999    ;
            @include cardBase($small-border-radius);
            top: 25px;
            @include boxShadow;
            right: 40px;
            button{
                color: $greyColor;
                display: flex;
                align-items: center;
                gap: 0.3rem;
                padding: $small-padding;
                font-weight: $w-bold;
                font-family: $secondary;
            }
            
         
            
            &:hover{
                background-color: $lighterGreyColor;
            }
        }

        .chatbot-buttons{
            buttons{
                color: $lighterGreyColor;
            }
            gap: 0.5rem;
            display: flex;
            align-items: center ;
        }

        .chatbot-panel {
        //    position: relative;
            flex-direction: column;
            @include fullSize;
            overflow-y: auto;
            margin-bottom: auto;
            flex-wrap: wrap;
            max-width: 40rem;
            .message {
                margin-top: $small-margin;
                padding: $small-padding;
                margin-bottom: 10px;
                max-width: 90%;
                padding: 5px;
                border-radius: 5px;

                span {
                    padding: $base-padding;
                    border-radius: $small-border-radius;
                }
                strong {
                    font-size: $content;
                }
                

                .sender{
                    background-color: transparent;
                }
            }

            .User {
                flex-direction: row-reverse;
                display: flex;
                align-items: center;
                margin-left: auto;

                span {
                    background-color: $info;
                    color: $primary;
                }
            }

            .Bot {
                display: flex;
                align-self: flex-end;
                
                span {
                    background-color: white;
                    li {
                        list-style: none;   
                    }
                    
                }
            }

           
        }
        .feedback-form{
            position: absolute;
            width: 100%;
            // height: 30%;
            bottom: 60px;
            z-index: 99;

        }
        .chatbot-input {
            margin-top: auto;
            width: 100%;
            display: flex;
            position: relative;
            background-color: white;
            // input {
            //     overflow: auto;
            //     width: 100%;
            //     padding: $small-padding-y;
            //     padding-left: $small-padding;
            //     border: 2px;
            //     white-space: pre-wrap;
            //     max-width: 300px;
            // }

            .text-area {
                padding: 0;

                .text-area-input {
                    background-color: white;
                }
            }

            .send {
                // position: absolute;
                // color: $greyColor;
                // right: 15px;
                // bottom: 5px;
                padding: $base-padding;
                background-color: $primary;
                color: $lighterGreyColor;

                &:hover {
                    color: $lightGreyColor;
                }
            }
        }

        @include devices (mobile) {
            //  .chatbot-container{
            //     max-width: none;
            //     width: 100%;
            //  }
                .chatbot-inbox{
                    position: fixed;
                    bottom: 0;
                    right: 0;
                    transition: 3s ease-in-out;
                }
                .chatbot-button{
                    position: fixed;
                    bottom: 5%;
                    right: 5%;
                }
               
            
                
            }
    }
    .chatbot-button {
        background-color: $tertiary;
        height: 62px;
        width: 62px;
        border-radius: 50%;
        @include centerFlexboxColumn;
        box-shadow: $dark-box-shadow;
        transition: 0.2s ease-in;

        &:hover {
            background-color: $secondary;
            cursor: pointer;
            color: $lighterGreyColor;
        }
    }

    .feedback-button{
        display: flex;
        gap: 10px;
        background-color: $tertiary;
        position: fixed;
        top: 40%;
        padding: $small-padding $base-padding;
        right: -155px;
        border-radius: $base-border-radius 0  0 $base-border-radius ;
        width: fit-content;
        //  
        opacity: 0.8;
        transition: 0.2s ease-in;
        &:hover{
            right: 0%;
            background-color: $primary;
            opacity: 1;
            cursor: pointer;
            color: $lighterGreyColor;
        }

        @include devices(tablet){
            right: -155px;
        }

        @include devices(mobile){
            right: -175px;
        }

    }
}


@include devices (tablet) {
    .chatbot-container{
        max-width: 25rem;
        margin-left: auto;
    }
    .chatbot-inbox{
        position: fixed;
        bottom: 40px;
        right: 40px;
        transition: 3s ease-in-out;
    }
    .chatbot-button{
        position: fixed;
        bottom: 5%;
        right: 5%;
    }

    // .feedback-button{
       
    //     display: none;
       

    // }
}

@include devices (mobile) {
//  .chatbot-container{
//     max-width: none;
//     width: 100%;
//  }
    .chatbot-inbox{
        position: fixed;
        bottom: 0;
        right: 0;
        transition: 3s ease-in-out;
    }
    .chatbot-button{
        position: fixed;
        bottom: 5%;
        right: 5%;
    }
   

    
}