@use "../Utilities/" as *;

#facilities {
    background: linear-gradient(rgba($primary, 0.9), rgba(8, 8, 8, 0.8)),
        url("./upload/1696560451248GRILL\ \(1\)\ \(1\).webp") center/cover no-repeat fixed;
}
.facilities {
    display: flex;
    min-height: 30rem;

    .facility-items {
        @include gridView(12rem, 0.5rem);
        .facility-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            cursor: pointer;
            &:hover {
                .title {
                    margin-top: -45%;
                }
            }
        }
        .image-wrap-facility {
            height: 100%;
            max-height: 400px;
            width: 100%;
            aspect-ratio: 1/2;
            z-index: 4;
            img {
                @include imageDefault(100%, 100%, cover);
                position: relative;
            }
        }

        .title {
            z-index: 9;
            margin-top: -50%;
            max-width: 95%;
            @include cardBase($small-border-radius);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-family: $primary-font;
            padding: $base-padding;
            transition: all 0.3s ease-in-out;
            h2 {
                padding: $small-margin-y;
            }
            span {
                font-family: $secondary-font;
            }
        }

        .subtitle {
            @include justifyIndent;
            min-height: 9rem;

            font-family: $secondary-font;

            padding: $small-padding;
        }
        //         }
    }

    @include devices(tablet) {
        .facility-items {
            @include gridView(20rem, 0.5rem);
        }
    }
}

.facility_wrapper {
    @include centerAndSet(1300px, 1rem);
    img {
        @include imageDefault(100px, 100px, cover);
    }
    .facility__two-sections-container {
        &:nth-child(2n + 1) {
            flex-direction: row-reverse;
        }

        @include centerFlexboxRow;
        margin-block: $base-padding;

        .facility__image-wrapper {
            @include cardBase($base-border-radius);
            overflow: hidden;
            @include boxShadow;
            height: 300px;
            // width: 50%;
            position: relative;
            aspect-ratio: 2/1;
            img {
                @include fullSize;
            }
            .see-more-button {
                position: absolute;
                top: 5%;
                right: 3%;
                background-color: $tertiary;
                color: $lighterGreyColor;
                border: none;
                padding: $small-padding;
                cursor: pointer;
                border-radius: $small-border-radius;

                &:hover {
                    background-color: $secondary;
                }
            }
        }

        .facility__content-wrapper {
            width: 100%;
            padding: $large-padding-x;
            width: 50%;
            .facility__content {
                @include centerFlexboxColumn;
                

                h4 {
                    color: $primary;
                    font-family: $primary-font;
                    font-size: $f-xlarge;
                }
            }
        }
    }
    @include devices(tablet) {
        
        .facility__two-sections-container {
            @include centerAndSet(600px, 1rem);
            display: flex;
            flex-direction: column;
            padding: $base-padding-y;
            &:nth-child(2n + 1) {
                flex-direction: column;
            }
            .facility__image-wrapper {
                min-width: 200px;
                aspect-ratio: 1/1;
            }

            .facility__content-wrapper {
                padding: $base-margin-y;
                width: 100%;
                .facility__content {
                    font-size: $f-normal;
                    h4 {
                        color: $primary;
                        font-family: $primary-font;
                        font-size: $f-xlarge;
                    }
                }
            }
        }
    }

    @include devices(mobile) {
        .facility__two-sections-container {
            @include centerAndSet(100%, 1rem);
            display: flex;
            flex-direction: column;
            padding: $base-padding-y;
            &:nth-child(2n + 1) {
                flex-direction: column;
            }
            .facility__image-wrapper {
                width: 100%;
                aspect-ratio: 1/1;
            }

            .facility__content-wrapper {
                padding: $base-margin-y;

                .facility__content {
                    font-size: $f-normal;
                    h4 {
                        color: $primary;
                        font-family: $primary-font;
                        font-size: $f-xlarge;
                    }
                }
            }
        }
    }
}
