@use "../Utilities/" as *;

// .facilities {
//     width: 100%;

//     .facility-items {
//         margin: $base-margin-y;

//         .facility-item {
//             @include cardBase;
//             cursor: pointer;
//             overflow: hidden;

//             img {

//                 @include imageDefault(100%, 100%, cover);
//                 // position: relative;
//                 border-radius: $base-border-radius;
//                 // transition: transform 0.3s ease;
//                 max-width: 100%;
//                 // transform: scale(1.2);
//             }

//             .title {

//                 // @include fullSize;
//                 z-index: 2;
//                 display: flex;
//                 // justify-content: center;
//                 // align-items: center;
//                 font-family: $primary-font;
//                 color: $primary;
//                 // overflow: hidden;

//             }

//             .subtitle{

//                 // background-color: $greyColor;
//                 // position: absolute;
//                 // left: 100%;
//                 // bottom: 0%;
//                 font-family: $secondary-font;
//                 color: $lighterGreyColor;
//                 // z-index: 2;
//                 padding: $base-padding;
//                 font-size: $content;
//                 // transform: translateY(100%);

//             }
//         }
//     }
// }
#facilities{
    // background-color: rgba($color: #a11414, $alpha: 1.0);
    // background-image: url('https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg');
    background: linear-gradient(rgba($primary, 0.9), rgba(8, 8, 8, 0.8)), url('./upload/1696560451248GRILL\ \(1\)\ \(1\).webp') center/cover no-repeat fixed;
}
.facilities {
    //     width: 100%;
    display: flex;

    .facility-items {
        //         margin: $base-margin-y;

        .facility-item {
            // @include centerFlexboxColumn;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            cursor: pointer;
            &:hover {
                .title{
                    margin-top: -45%;
                }
            }
        }
        .image-wrap-facility {
            height: 100%;
            max-height: 400px;
            width: 100%;
            aspect-ratio: 1/2;
            z-index: 4;
            img {
                @include imageDefault(100%, 100%, cover);
                position: relative;
            }
        }

        .title {
            z-index: 9;
            margin-top: -50%;
            max-width: 95%;
            @include cardBase($small-border-radius);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-family: $primary-font;
            padding: $base-padding;
            transition: all 0.3s ease-in-out;
            h2{
                padding: $small-margin-y;
            }
            span {
                font-family: $secondary-font;


            }
            
        }

        .subtitle {
            @include justifyIndent;
            min-height: 9rem ;
            //                 background-color: $greyColor;
            //                 position: absolute;
            //                 left: 100%;
            //                 bottom: 0%;
            font-family: $secondary-font;
            //                 color: $lighterGreyColor;
            //                 z-index: 2;
            padding: $small-padding;
            //                 font-size: $content;
            //                 transform: translateY(100%);
        }
        //         }
    }
}
