@use "../Utilities/" as *;



.media-grid-container{
    max-height: 100vh;
    overflow-y: auto;
    @include solidBorder($medium-border-thickness, $base-border-radius, $lightGreyColor);
    background-color: white;

    .media-grid{
        @include gridView(6rem, 0.5rem);   
        padding: $base-padding;
        .gallery-wrapper{
            width: 100%;
           cursor: pointer;

            .gallery-image{
                height: 100%;
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: $small-border-radius;
            }
        }

        .selected{
            @include solidBorder($medium-border-thickness, $base-border-radius, $lightGreyColor);
            position: relative;
            transition: ease-in-out 0.01s;
            &::after{
                overflow: hidden;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: $lightGreyColor;
                z-index: 3;
                opacity: 0.5;
            }

            &::before{
                content: "";
                position: absolute;
                border: 5px solid $lightGreyColor;
                border-radius: 50%;
                right: 5%;
                top: 5%;
                z-index: 4;
                background: white;
                height: 20px;
                width: 20px;
            }
        }
    }
}


.media-info-menu{
    
    @include centerFlexboxRow;
    top: 0;
    position: sticky;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $base-padding;
    background-color: $primary;
    overflow: hidden;
    z-index: 9;
    color: $lighterGreyColor;

    .button-wrapper{
        display: flex;
        text-align: center;
        button{
            background: transparent;
            border: none;
            color: $lighterGreyColor;
            font-family: $secondary-font;
            font-size: $content;
            cursor: pointer;
            margin: $small-margin-x;
            transition: 0.2s ease;
            &:hover{
                color: $error;
            }
        }

       
    }
}
