@use "../../sass/Utilities/" as *;


.ratings__container {
  @include cardBase($base-border-radius);
  @include boxShadow;
  padding: $base-padding;

  .ratings__header{
    .ratings__title {
      display: flex;
      gap: 0.8rem;
    }
  }

}