@use "../../sass/Utilities/" as *;

table {
    border-collapse: collapse;
    font-family: $secondary-font;
    font-size: $content;
    border-collapse: collapse;
    border-radius: $base-border-radius;
    // overflow: auto;
    tr {
        height: 50px;
        &:nth-child(even) {
            background-color: $lighterGreyColor;
        }

        th {
            // border: 1px solid $primary;
            color: $lighterGreyColor;
            font-weight: $w-bold;
            background-color: $primaryColor;
        }
        td.small {
            // // min-width: 3rem;
            width: 150px;
         
        }

        td.center {
            text-align: center;
        }
        .profile{
            img{
                border-radius: 50%;
                height: 50px;
                width: 50px;
            }
        }

        .ellipsis{
            @include ellipsis(3);
           
        }
        .nowrap {
            white-space: nowrap;
        }

        td.description {
            max-width: 250px;
            padding-block: $small-padding;
    
            p {
                height: 54px;
                @include ellipsis(3);
                padding-block: $small-padding;
            }
        }
        td {
            // border: 1px solid $borders;
            padding-inline: $small-padding;
            min-width: 1rem;

            img {
                object-fit: cover;
                max-width: 5rem;
                aspect-ratio: 1/1;
            }

            .crud-btn {
                display: flex;
                flex-wrap: nowrap;
                gap: 5px;
                justify-content: center;

                button {
                    display: flex;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    color: $background;
                    background-color: $primary;
                    padding: $small-padding;
                    border-radius: 10px;
                    text-decoration: none;
                    transition: ease-in 0.2s;
                    a {
                        text-decoration: none;
                        color: $background;
                    }

                    &:hover {
                        background-color: $tertiary;
                    }

                    &:nth-child(2) {
                        background-color: $error;
                        padding: $small-padding;
                        border-radius: 10px;
                        color: $background;
                    }
                }
            }
        }
    }

    td.dots {
        width: 1px;
        cursor: pointer;
        position: relative;
        font-size: $f-normal;
        &:hover {
            background-color: $lighterGreyColor;
            border-radius: $base-border-radius;
        }

        .dots-menu {
            z-index: 12;
            @include flexBoxColumn(center, flex-start, 0rem);
            @include cardBase($base-border-radius);
            @include boxShadow;
            overflow: hidden;
            position: absolute;
            top: 25px;
            right: 0px;
            li {
                @include flexBoxRow(flex-start, center, 0.5rem);
                list-style: none;
                width: 100%;
                padding: $small-padding $base-padding;
                &:hover {
                    background-color: $lighterGreyColor;
                }
            }
        }
    }
}
