@use '../../sass/Utilities/' as *;

.two-sections-container {
    @include centerFlexboxRow;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    gap: 10%;
    padding: $base-padding;

    .image-wrapper {
        width: 30%;
        height: 80%;
        max-width: 40%;
    }

    img {
        border-radius: 30px;
        width: 100%;
        height: 100%;
        // object-fit:;
    }

    .content-wrapper {
        width: 40%;

        h1 {
            color: $primaryColor;
            font-family: $font-libre-baskerville;
            margin: $base-margin-y;
        }

        p {
            color: $greyColor;
            font-family: $font-libre-franklin;
            font-size: $large;
            line-height: 1.5;
        }
    }
}
