@use "../../../../../sass/Utilities/" as *;

.addIntent__userSays {
    @include flexBoxColumn(space-between, flex-start, 0.3rem);
    margin-bottom: $base-margin;

    .addIntent__userSaysTableContainer {
        width: 100%;
        .addIntent__userSaysTable {
            width: 100%;
            @include tableHeadingWhite;
            font-size: $f-normal;

            .addIntent__userSaysDelete {
                width: 1px;
                cursor: pointer;

                &:hover{
                    background-color: $grey-300;
                }
            }
        }
    }
}
