@use "../../../sass/Utilities/" as *;

.modal__content {
    @include cardBase($base-border-radius);
    padding: $base-padding;
    position: relative;

    .dismiss {
        color: $greyColor;
        top: 8%;
        right: 4%;
    }

    .modal__close {
        top: 3%;
        right: 3%;
        padding: $small-padding;
        background-color: transparent;
        display: flex;
        &:hover {
            background-color: $grey-300;
            border-radius: 50%;
        }
    }
}
