@use "../../../sass/Utilities/" as *;

.modal__content {
    @include cardBase($base-border-radius);
    padding: $large-padding;
    position: relative;

    .dismiss {
        color: $greyColor;
        top: 8%;
        right: 4%;
    }

    .modal__close {
        top: 3%;
        right: 2%;
        padding: $small-padding;
        background-color: transparent;
        display: flex;
        &:hover {
            background-color: $grey-300;
            border-radius: 50%;
        }
    }

    .dialog-msg{
        color: $greyColor;
        font-size: $f-medium;
        padding: $base-padding-y;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: $f-normalx;
        font-weight: $w-semi-bold;

        &.error{
            color: $error;
        }
        &.warning{
            color: $warning;
        }
    }
}
