//Defining font variables
$font-libre-franklin: 'Libre Franklin';
$font-libre-baskerville: 'Libre Baskerville';



//Defining font size
$pageHeading: 4rem;
$heading: 2rem;
$subheading: 1.5rem;
$content: 1rem;
$mini: 0.8rem;


//Defining font weight and style
$w-bold: 700;
$w-semi-bold: 600;
$w-normal: normal;
$style-normal: normal;






@font-face {
    font-family: $font-libre-franklin;
    src: url('./fonts/LibreFranklin-Bold.ttf') format('truetype');
    font-weight: $w-bold;
    font-style: $style-normal;
}

@font-face {
    font-family: $font-libre-franklin;
    src: url('./fonts/LibreFranklin-Semibold.ttf') format('truetype');
    font-weight: $w-semi-bold;
    font-style: $style-normal;
}
    
@font-face {
    font-family: $font-libre-baskerville;
    src: url('./fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: $w-normal;
    font-style: $style-normal;
}