@use "../../../src/sass/Utilities/" as *;

.postheading__container {
    display: flex;
    height: 70dvh;
    background-color: $primary;
    @include centerFlexboxRow;
    // @include centerAndSet(1300px, 2rem);

    .postheading__wrapper {
        @include centerAndSet(1300px, 5rem);
        display: flex;
        justify-content: space-between;
    }
    .postheading__title {
        color: $lighterGreyColor;
        font-size: $f-large;
        font-family: $primary-font;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block: auto;
        // justify-content: space-between;
        width: 50%;
        height: 100%;
        h1{
            color: $tertiary;
        }
        p {
            font-family: $secondary-font;
            font-size: $f-normalx;
        }
    }

    .postheading__imageWrapper {
        width: 50%;
        height: 16rem;
        // object-fit: contain;
        img {
            @include fullSize;
        }
    }

    @include devices(tablet) {
        flex-direction: column;
        height: 90dvh;
        .postheading__title {
            font-size: $f-large;
            width: 100%;
            text-align: center;
        }
    }
}
