@use "./../Utilities/" as *;

$standard-padding: 10px 20% 10px 20%;
$nav-footer: 10px 50px;


footer {
    margin-top: 5rem;
    padding: $nav-footer;
    background-color: $honeyDew;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;

    img {
        height: 50px;
    }

    span {
        font-family: $font-libre-baskerville;
    }
}