@use "./../Utilities/" as *;

$standard-padding: 10px 20% 10px 20%;
$nav-footer: 10px 50px;

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999999;
    padding: $nav-footer;
    background-color: transparent;
    font-family: $secondary-font;
    font-weight: $w-bold;

    &.scrolled {
        transition: $base-transition;
        background-color: $primaryColor;
    }

    .container {
        display: flex;
        justify-content: space-between;

        h6 {
            font-size: $large;
            font-weight: 300;

            text-decoration: none;
            text-transform: uppercase;
            color: $honeyDew;
        }

        .logo {
            img {
                width: 80px;
            }
        }

        .submenu {
            text-decoration: none;

            h2 {
                padding: $small-padding;
                color: $greyColor;
                font-family: $secondary-font;
                font-size: $content;
                font-weight: $w-mediun;
                text-transform: uppercase;
            }
        }

        .main-link {
            position: relative;
            gap: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            align-items: center;

            .link-item {
                display: flex;
                cursor: pointer;
                height: 100%;
                align-items: center;
                transition: ease-in-out 0.9s;

                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }
            }
        }
        .dropdown-menu {
            position: absolute;
            top: 50px;
            margin-top: 15px;
            min-width: 150px;
            background-color: $lightColor;
            box-shadow: $base-box-shadow;
            border-radius: 5px;
            display: none;
            overflow: hidden;
            .dropdown-items {
                list-style: none;
                box-shadow: $base-box-shadow;
                li {
                    cursor: pointer;
                    padding: $small-padding-y;
                    padding-left: $small-padding;
                    padding-right: $large-padding;
                    list-style: none;

                    &:hover {
                        background-color: $primaryColor;
                        color: $lightColor;
                        // border-radius: 3px;
                    }
                }

                .sub-link {
                    text-decoration: none;
                    color: $greyColor;
                    font-size: $content;
                    font-family: $secondary-font;
                }
            }
        }
    }

    .user-link {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 200px;

        span {
            color: $honeyDew;
            cursor: pointer;
            font-family: $font-libre-franklin;
        }
    }

    @include devices(mobile) {
        .container {
            .main-link {
                display: none;
            }
            .user-link {
                display: none;
            }
        }
    }

    @include devices(tablet) {
        .container {
            .main-link {
                display: none;
            }
            .user-link {
                display: none;
            }
        }
    }
}

//MOBILE NAVBAR
.mobile-nav-container {
    margin-block: auto;
    display: none;

    .mobile-nav {
        width: 30px;
        // height: 40px;

        .burger-icon {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 7px;
            cursor: pointer;
            .line {
                height: 4px;
                background-color: $lighterGreyColor;
            }
        }
        .menu-mobile {
            position: relative;
            background-color: rgba(14, 13, 13, 0.562);
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            // margin-left: $large-margin;
            // transform: scale(0);
            // transform-origin: top right;
            transition: transform 0.5s ease-out;
            // will-change: transform, border-radius;
            transform: translateX(-100%);
            .close-button {
                position: absolute;
                right: 10%;
                top: 20px;
                cursor: pointer;
                font-size: $subheading;
                color: $greyColor;
            }

            .mobile-links {
                @include centerFlexboxColumn;
                gap: $base-margin;
                height: 100%;
                width: 70%;
                margin-left: auto;

                background-color: $lighterGreyColor;
                a {
                    text-align: left;
                    padding: $base-padding-x;

                    text-decoration: none;
                    color: $greyColor;
                }
                ul,
                li {
                    list-style: none;
                }
                .mobile-link {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .mobile-link-title {
                        display: flex;
                    }
                    .mobile-toggle {
                        display: flex;
                        cursor: pointer;
                    }
                    .mobile-sublinks {
                        padding-left: $large-padding;
                    }
                }

                .share-container{
                    width: 100%;
                    padding: $base-padding-x;
                    margin-top: $base-margin;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;

                    .share-title{
                        padding: $base-padding-y;
                    }
                }
            }
        }
        .menu-mobile.animate {
            transform: translateX(0%);
            // border-radius: 0%;
        }
    }
}

@include devices(tablet) {
    .mobile-nav-container {
        display: block;
    }
}
