@use "./../Utilities/" as *;

.container-accomodation {
    width: 100vw;

    .accommodation-title {
        position: relative;
        font-size: $pageHeading;
        font-family: $font-libre-franklin;
        @include centerFlexboxColumn;
        margin: $xlarge-margin-y;
        color: $primaryColor;
        margin-bottom: auto;
        
        &::after {
            position: absolute;
            top: 0;
            left: 42%;
            z-index: -1;
            content: "";
            width: 8px;
            height: 45px;
            background-color: $tertiaryColor;
            display: block;
        }
    }
    .wrapper {
        margin-top: 40px;

        .title {
            font-size: $large;
            font-family: $font-libre-baskerville;
            color: $primaryColor;
            padding: $large-padding-y;
        }

        .card {
            width: 70%;
            height: 100%;
            display: flex;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            @include cardBase;

            &:nth-child(2n + 1) .content {
                flex-direction: row-reverse;
                display: flex;
                width: 100%;
              
                // .image-container{

                    .img {
                        margin-left: auto;
                        border-radius: 0 10px 10px 0;
                 
                    }
                // }

            }

            .content {
                display: flex;
                width: 100%;
                justify-content: space-between;
               
                // .image-container{
                //     margin: 0px;
                    .img {
                        border-radius: 10px 0 0 10px;
                        object-fit: cover;
                        aspect-ratio: 1/1;
                        max-height: 400px;
                        // margin-right: auto;
                        width: 400px;
                    }
                // }

                .description {
                    display: flex;
                    flex-direction: column;
                    padding: $base-padding-x;
                    width: 100%;
                
                    .price {
                        color: $tertiaryColor;
                        font-size: $subheading;
                        font-family: $font-libre-baskerville;

                        &::after {
                            content: "";
                            width: 70px;
                            height: 2px;
                            background-color: $tertiaryColor;
                            display: block;
                            margin: $base-margin-y;
                        }
                    }

                    .desc {
                        color: $greyColor;
                        font-family: $font-libre-franklin;
                        margin-bottom: auto;
                        font-size: $content;
                        line-height: $base-line-height;
                        min-height: 80px;
                    }

                    .accomodation-details {
                        display: flex;
                        margin-bottom: auto;
                        .accomodation-detail {
                            display: flex;
                            align-items: center;
                            .icon {
                                color: $primaryColor;
                                margin-right: $base-margin;
                            }
                            label {
                                font-family: $font-libre-franklin;
                                font-weight: $w-semi-bold;
                                color: $lightGreyColor;
                                margin-right: $base-margin;
                                font-size: $content;

                                span {
                                    font-family: $font-libre-franklin;
                                    font-weight: $w-mediun;
                                    color: $greyColor;
                                    margin-left: $small-margin;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
