@use "../Utilities/" as *;

.contact {
    min-height: 100vh;
    align-items: flex-start;

    .contact-info {
        height: 100vh;
        display: flex;
        flex-direction: column;
        max-width: 42%;
    }

    .contact-container{
        @include centerAndSet(1300px, 2rem);
        align-items: center;
        justify-content: center;
    }

}

.contact-title {
    padding: $large-padding-y;
    h1 {
        font-family: $primary-font;
        font-size: $subheading;
        color: $primaryColor;
    }

    p {
        padding: $base-padding-y;
        font-family: $secondary-font;
        font-size: $content;
        color: $lightGreyColor;
    }
}

.contact-details {
    min-height: 50%;
    font-family: $secondary-font;
    flex-wrap: wrap;

    .contact-items {
        list-style: none;
        color: $greyColor;

        .contact-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .icon-wrapper {
                height: 30px;
            }
            .icon {
                color: $accentColor;
            }

            font-size: $large;
            padding: $small-padding-y;

            span {
                margin-left: $base-margin;
            }
        }
    }
}

@include devices(tablet) {
    .contact-info {
        width: 100%;
    }
}