@use "./../Utilities/" as *;

.chatbot__container {
    display: flex;
    // justify-content: space-between;
    gap: 0.8rem;
    height: 100%;

    .chatbot__leftWrapper {
        @include flexBoxColumn(flex-start, none, 0.8rem);  
        flex: 7;
        gap: 0.8rem;
        .chatbot__header {
            background-color: white;
            @include flexBoxRow(space-between, center, 1rem);
            padding: $base-padding;
            @include boxShadow;
            border-radius: $base-border-radius;

            .btn{
                font-weight: $w-bold;
            }
        }
        .chatbot__analytics{
            @include flexBoxColumn(center, center, 1rem);
        }
    }

    .chatbot__rightWrapper {
        flex: 3;
    }
}
