@use "../../Utilities/Variables" as *;


//Defining font variables
$font-libre-franklin: 'Libre Franklin';
$font-libre-baskerville: 'Libre Baskerville';

$primary-font: 'Britney-Regular';
$secondary-font: 'Quicksand-Medium';
// $primary-font: 'Arima';
// $secondary-font: 'Karla';


//Defining font size
$pageHeading: 3.5rem;
$heading: 2.5rem;
$subheading: 1.5rem;

$xlarge: 1.25rem;
$large: 1rem;
$content: 0.85rem;
$mini: 0.75rem;

//new font variables
$f-small: 0.6rem;
$f-medium: 0.8rem;
$f-normal: 1rem;
$f-normalx: 1.2rem;
$f-large: 1.5rem;
$f-xlarge: 2rem;
$f-xxlarge: 3rem;

.f-normal{
    font-size: $f-normal;
}


.f-large {
    font-size: $f-large;
}
//Defining font weight and 
$w-thin:100;
$w-extra-light: 200;
$w-light: 300;
$w-mediun: 500;
$w-bold: 700;
$w-semi-bold: 600;
$w-normal: normal;
$style-normal: normal;


//line height
$base-line-height: 1.25rem;
$large-line-height: 1.75rem;
$xlarge-line-height: 3rem;
$xxlarge-line-height: 4rem;



.main-bold{
font-weight: $w-mediun;
}

.sm-font{
font-size: $mini !important;
}

.m-font{
    font-size: $content !important;
}

.l-font{
    font-size: $large !important;
    padding: $base-padding-y;
}


.xl-font{
    font-size: $subheading !important;
}


.xxl-font{
    font-size: $heading !important;
    
}

.xxxl-font{
    font-size: $pageHeading !important;
}

.base-line-height{
    line-height: $base-line-height !important;
}

.large-line-height{
    line-height: $large-line-height !important;
}