//Defining font variables
$font-libre-franklin: 'Libre Franklin';
$font-libre-baskerville: 'Libre Baskerville';



//Defining font size
$pageHeading: 3.5rem;
$heading: 2rem;
$subheading: 1.5rem;
$large: 1rem;
$content: 0.85rem;
$mini: 0.75rem;


//Defining font weight and 
$w-thin:100;
$w-extra-light: 200;
$w-light: 300;
$w-mediun: 500;
$w-bold: 700;
$w-semi-bold: 600;
$w-normal: normal;
$style-normal: normal;


//line height
$base-line-height: 1.25rem;
$large-line-height: 1.75rem;


.main-bold{
    font-weight: $w-mediun;
}

.sm-font{
    font-size: $mini;
}

.m-font{
    font-size: $content;
}
.l-font{
    font-size: $large;
}