@use '../../../../sass/Utilities/' as *;



.addIntent__InputContainer {
    @include flexBoxRow(space-between, flex-end, 0.3rem);
    width: 100%;
    .addIntent__Input {
        width: 100%;
        @include flexBoxRow(space-around, flex-end, 0.5rem);
        position: relative;
        .addIntent__Btn {
            position: absolute;
            margin-bottom: 0.5rem;
            right: 0;
            border: none;
            background-color: $primary;
            color: $lighterGreyColor;
            border-radius: 0 $small-border-radius $small-border-radius 0;
            @include flexBoxRow(center, center, 0.5rem);
            width: 35px;
            height: 38px;
            cursor: pointer;
        }
    }
}