//theme color
$primaryColor: #03335b;
$secondaryColor: #73d2de;
$tertiaryColor: #ffbc42;
$ultraViolet-opacity-low: #4b4e6d54;
$accentColor: #d81159;
$honeyDew: #e1ebdd;

//Neutralss
$lightColor: #f8f9fa;
$greyColor: #232422;
$darkerGreyColor: #5c5b5b;
$lightGreyColor: #b4b9ae;
$lighterGreyColor: #fcfcfc;

$grey-100: #f8f9fa;
$grey-200: #e9ecef;
$grey-300: #dee2e6;
$grey-400: #ced4da;
$grey-500: #adb5bd;
$grey-600: #6c757d;
$grey-700: #495057;
$grey-800: #343a40;
$grey-900: #212529;


$lightGreen: #b9e7e7;

$error: #d64933;
$error-light: #f37d6b;
$text: #8b4513;
$description: #272727;
$background: #ffffff;
// $primary: #3190a5;
$primary: #043f6e;
$primary-light: #0f4c7e;
$primary-fade: #a9c9e6;
$info: #96e4eec0;
$secondary: #D2B48C;
$tertiary: 	#F4A460;
$tertiary-light: #ffb97c;
$borders: 	#ECEFF1;
$warning: 	#FFFF00;
$success: 	#1bc44b;
$success-light: #0CCE6B;
$gradient: linear-gradient(223deg, rgba(3, 51, 91, 1) 0%, rgba(5, 41, 87, 1) 24%, rgba(10, 20, 78, 1) 100%);
.bg-white{
    background-color: white;
}

.bg-primary{
    background-color: $primary !important;

}