//theme color
$primaryColor: #218380;
$secondaryColor: #73d2de;
$tertiaryColor: #ffbc42;
$ultraViolet-opacity-low: #4b4e6d54;
$accentColor: #d81159;
$honeyDew: #f2fcee;

//Neutrals
$lightColor: #f5f6f2;
$greyColor: #232422;
$darkerGreyColor: #5c5b5b;
$lightGreyColor: #b4b9ae;
$ligherGreyColor: #fcf9f9;

$lightGreen: #b9e7e7;
