@use "../Utilities/Variables" as *;
@use "../Utilities/ColorPallet" as *;

@mixin fullSize {
    height: 100%;
    width: 100%;
}

@mixin centerFlexboxColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin leftFlexboxColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

@mixin centerFlexboxRow {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin cardBase {
    box-shadow: $base-box-shadow;
    background-color: #ffffff;
    border-radius: $base-border-radius;

}