


//button sizes
$base-button-size: 0.75rem 1.50rem; 

//spacing
$small-padding-x: 0 0.25rem;
$small-padding: 0.50rem;
$small-padding-y: 0.50rem 0;
$base-padding-x: 0 1rem;
$base-padding: 1rem;
$base-padding-y: 1rem 0;
$large-padding: 1.75rem;
$large-padding-x:  0 1.75rem;
$large-padding-y: 1.75rem 0;

$small-margin: 0.25rem;
$base-margin: 0.75rem;
$base-margin-y: 1.25rem 0;
$large-margin-x: 1.75rem 0;
$base-margin-x: 0 1.25rem;
$large-margin-y: 1.75rem 0 ;
$xlarge-margin-y:  2.25rem 0;



$small-margin-x:  0 0.75rem;
$small-margin-y: 0.7rem 0;

//borders
$small-border-thickness: 0.75px solid;
$base-border-thickness: 2px solid;

//border-radius
$small-border-radius: 5px;
$base-border-radius: 10px;

//input border
$input-border-radius: 4px 4px 2px 2px;

//box-shadow 
$base-box-shadow: 0px 10px 20px -18px rgba(29, 53, 87, 0.11);

//transitions
$base-transition: all 0.3s;


